<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="input-group col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Sizing example input"
                 aria-describedby="inputGroup-sizing-sm" [(ngModel)]="device.ip">
        </div>
      </div>
      <div class="input-group col-sm-5 col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Sizing example input"
                 aria-describedby="inputGroup-sizing-sm" [(ngModel)]="device.name">
        </div>
      </div>
      <div class="col-sm-3 col-md-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-outline-dark" (click)="discard()">
            <fa-icon [icon]="'window-close'"></fa-icon>
          </button>
          <button class="btn btn-outline-dark" (click)="submit()">
            <fa-icon [icon]="'check'"></fa-icon>
          </button>
          <button class="btn btn-outline-dark" (click)="delete()">
            <fa-icon [icon]="'trash-alt'"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
