<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Big Sister</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Developed during Hacktival 2019 by<br /><br />

    <div class="card" style="width: 45%; display: inline-block; margin-right: 2%; margin-left: 2%; margin-bottom: 10%;" *ngFor="let person of [
      ['Jonas Kett', 'Backend Development', 'def'],
      ['Florian Krone', 'Backend Developmnet', 'def'],
      ['Matthias Przybylla', 'Frontend Development', 'def'],
      ['Lukas Bach', 'Frontend Development', 'def']
    ]">
      <div class="card-body">
        <h5 class="card-title">{{person[0]}}</h5>
        <p class="card-text">{{person[1]}}</p>
      </div>
    </div>
  </div>
</ng-template>

<div class="app-footer">
  <small>{{versionData}}</small>
  <button style="margin-left: 15px" class="btn btn-outline-dark btn-sm" (click)="open(content)">About</button>
</div>
