<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10 col-md-12">
      <h1 *ngIf="this.endpointData && this.appEndpointOverviewInput">
        {{this.endpointData.url}} ({{this.endpointData.name}})
      </h1>


      <div *ngIf="this.endpointData && this.appEndpointOverviewInput">
        <pre><code>
          {{this.endpointData.method}} {{this.endpointData.url}}
        </code></pre>

        <h3>Most recent pings</h3>
        <app-device-overview [endpointData]="[this.appEndpointOverviewInput]" [granularity]="granularity" [amountOfTimeBlocks]="80"></app-device-overview>

        <h3>Line chart</h3>
        <app-uptime-linechart [deviceData]="this.endpointData"></app-uptime-linechart>

        <h3>Statistical overview</h3>
        <app-uptime-aggregated [data]="this.endpointData" [timeSlotSize]="500"></app-uptime-aggregated>

        <h3>Uptime summary</h3>
        <div><app-uptime-donutchart [data]="this.endpointData"></app-uptime-donutchart></div>

        <h3>All pings</h3>

        <table class="table table-striped table-hover table-sm">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Status</th>
            <th scope="col">Statuscode</th>
            <th scope="col">Time</th>
          </tr>
          </thead>
          <tbody>
          <tr
            *ngFor="let ping of this.endpointData.status; index as i"
            [class.text-success]="ping.success"
            [class.text-danger]="!ping.success"
          >
            <td scope="row" style="text-align: center">
              <fa-icon [icon]="ping.success ? 'check' : 'exclamation-triangle'"></fa-icon>
            </td>
            <td>
              {{ping.success ? 'Success' : ping.statusMessage}}
            </td>
            <td>
              {{ping.statusCode}}
            </td>
            <td>
              {{this.renderTime(ping.date)}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
