<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="h4 col-sm-1">Big&nbsp;Sister</div>
  <div class="col-sm-10">
    <div class="row">
      <div class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
    <form class="nav-item float-right">
      <button class="btn btn-primary" type="submit" routerLink="/settings">
        <fa-icon [icon]="'cog'"></fa-icon>
      </button>
    </form>
  </div>
</nav>
