<div>
  <div  *ngFor="let dataset of data" class="device-overview mb-2">
    <div
      class="device-col"
      [routerLink]="dataset.ip ? ['/single-device/', dataset.ip] : ['/single-endpoint/', dataset.endpointId]"
      placement="right"
      [ngbTooltip]="getName(dataset) + getIdentifier(dataset)"
    >
      <span>{{getName(dataset)}} {{getIdentifier(dataset)}}</span>
    </div>

    <div class="device-uptime-blocks col-sm-8">
      <div *ngFor="let uptime of dataset.upTimeBlocks">

        <ng-template #popTitle>
          <div *ngIf="uptime.totalPings > 0">{{uptime.successPings}}/{{uptime.totalPings}} Pings successfull</div>
          <div *ngIf="uptime.totalPings === 0">No pings during this timeframe</div>
        </ng-template>
        <ng-template #popContent>
          In the timerange from {{renderTime(uptime.from)}} - {{renderTime(uptime.to)}}
          <div *ngIf="!!uptime.pings">
            <div *ngFor="let ping of uptime.pings" class="device-uptime-block-popup-pingdata">
              <fa-icon [icon]="ping.success ? 'check' : 'exclamation-triangle'"></fa-icon>
              {{ getPingDescription(ping) }}
            </div>
          </div>
        </ng-template>

        <div
          [ngbPopover]="popContent"
          [popoverTitle]="popTitle"
          placement="bottom"
          [style.background-color]="getColor(uptime.successPings / uptime.totalPings)"
          [class.uptime-block]="true"
          [class.uptime-block-nodata]="uptime.totalPings === 0"
        ></div>
      </div>
    </div>
  </div>
</div>
