
@media screen and (max-width: 700px)
  .device-overview
    display: block !important
  .device-col
    width: 100% !important

.device-overview
  display: flex
  flex-direction: row


  .device-col
    max-width: 300px
    min-width: 300px
    &:hover
      font-weight: bold
      cursor: pointer
    span
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      display: inline-block
      max-width: 100%

  .device-uptime-blocks
    display: flex
    flex-direction: row
    flex-wrap: wrap

    .device-uptime-block-popup-pingdata
      padding: 4px 8px

    .uptime-block
      width: 20px
      height: 20px
      margin: 2px
      padding: 4px
      cursor: pointer

      &:hover
        border: 4px solid #444
        padding: 0
      &:active
        border: 4px solid #000
        padding: 0

    .uptime-block-nodata
      background: repeating-linear-gradient( 45deg, #eee, #eee 3px, #fff 3px, #fff 6px )
      border: 2px solid white
      padding: 2px
