<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10 col-md-12" style="margin-top: 20px">
      <h1 *ngIf="this.deviceData && this.appDeviceOverviewInput">
        {{this.deviceData.ip}} ({{this.deviceData.name}})
      </h1>

      <div *ngIf="this.deviceData && this.appDeviceOverviewInput">
        <h3>Most recent pings</h3>
        <app-device-overview [devices]="[this.appDeviceOverviewInput]" [granularity]="granularity" [amountOfTimeBlocks]="80"></app-device-overview>

        <h3>Uptime overview</h3>
        <app-uptime-linechart [deviceData]="this.deviceData"></app-uptime-linechart>

        <h3>Statistical overview</h3>
        <app-uptime-aggregated [data]="this.deviceData" [timeSlotSize]="500"></app-uptime-aggregated>

        <h3>Uptime summary</h3>
        {{this.upTime}}
        <app-uptime-donutchart [data]="this.deviceData"></app-uptime-donutchart>
      </div>
    </div>
  </div>
</div>
