<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-10 col-md-12" style="margin-top: 20px">
      <h1>Devices</h1>
      <app-device-overview [devices]="deviceData" [granularity]="this.interval" [amountOfTimeBlocks]="24"></app-device-overview>

      <br /><br />
      <h1>Endpoints</h1>
      <app-device-overview [endpointData]="endpointData" [granularity]="this.interval" [amountOfTimeBlocks]="24"></app-device-overview>
    </div>
  </div>
</div>
