<div class="container">
  <div class="row">
    <div class="col-sm-2">Perform auto-Discover</div>
    <div class="col-sm-4"><label> IP to Scan
      <input [(ngModel)]="ipToScan" type="text">
    </label></div>
    <div class="col-sm-2">
      <button (click)="scan()" class="btn btn-primary">Scan</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 my-auto">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Overview interval</li>
      </ul>
    </div>
    <div class="col-sm-2" style="margin-top: 17px;">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-sm" [(ngModel)]="settings.time">
        <div class="input-group-append">
          <span class="input-group-text">min</span>
        </div>
      </div>
    </div>
    <div class="col-sm-1 my-auto">
      <button (click)="saveIntervall()" class="btn btn-primary">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">IP Adresses:</li>
      </ul>
    </div>
    <div class="col-sm-7">
      <div *ngIf="dirtyDeviceIP">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="input-group col-sm-4">
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="New IP" [(ngModel)]="newDeviceIP">
              </div>
              <div class="input-group col-sm-5">
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="New Name" [(ngModel)]="newDeviceName">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let device of settings.externalIP; let i = index">
        <app-settings-item [device]="device" (remove)="removeExternalIP($event)"
                           (save)="saveExternalIP($event)"></app-settings-item>
      </div>
    </div>
    <div class="col-sm-1">
      <br />
      <button *ngIf="!dirtyDeviceIP" (click)="makeDeviceDirty()" class="btn btn-secondary">Add</button>
      <button *ngIf="dirtyDeviceIP" (click)="addDevice()" class="btn btn-primary">Save</button>
    </div>
    <div class="col-sm-1">
      <br />
      <button *ngIf="dirtyDeviceIP" (click)="makeDeviceDirty()" class="btn btn-secondary">Abort</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Endpoints:</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <div *ngIf="dirtyEndpoint">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="input-group col-sm-4">
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="New IP" [(ngModel)]="newEndpointURL">
              </div>
              <div class="input-group col-sm-4">
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="New Name" [(ngModel)]="newEndpointName">
              </div>
              <div class="input-group col-sm-4">
                <input type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" placeholder="New Method" [(ngModel)]="newEndpiontMethod">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let endpoint of settings.endpoints; let i = index">
        <app-settings-item-endpoint [endpiont]="endpoint" (remove)="removeEndpoint($event)"
                                    (save)="saveEndpoint($event)"></app-settings-item-endpoint>
      </div>
    </div>
    <div class="col-sm-1">
      <br />
      <button *ngIf="!dirtyEndpoint" (click)="makeEndpointDirty()" class="btn btn-secondary">Add</button>
      <button *ngIf="dirtyEndpoint" (click)="addEndpoint()" class="btn btn-primary">Save</button>
    </div>
    <div class="col-sm-1">
      <br />
      <button *ngIf="dirtyEndpoint" (click)="makeEndpointDirty()" class="btn btn-secondary">Abort</button>
    </div>
  </div>
</div>
